@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(225, 235, 244);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
/*Variables*/
:root {
  --primary-color: rgb(40, 166, 161);
  --primary-color-light: rgb(63, 179, 175);
  --secondary-color: rgb(179, 220, 39);
  --secondary-color-light: rgb(193, 219, 106);
  --color-white: white;
  --color-p1-text: rgb(189, 192, 205);
}

.container {
  width: 42%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 1fr minmax(1fr, max-content); */
  color: var(--color-white);
  box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.1);
  border-radius: 1rem 1rem 1rem 1rem;
}
@media only screen and (max-width: 900px) {
  .container {
    width: 50%;
  }
}
@media only screen and (max-width: 740px) {
  .container {
    width: 60%;
  }
}
@media only screen and (max-width: 550px) {
  .container {
    width: 70%;
  }
}
@media only screen and (max-width: 475px) {
  .container {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.description-container {
  grid-row: 1/2;
  grid-column: 1/3;
  padding: 3rem 3rem 3rem 3rem;
  background-color: var(--color-white);
  border-radius: 1rem 1rem 0 0;
}
@media only screen and (max-width: 900px) {
  .description-container {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .description-container {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.heading_primary {
  color: var(--primary-color);
  font-weight: 600;
  line-height: 3rem;
}
.heading_secondary {
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 4rem;
}
@media only screen and (max-width: 400px) {
  .heading_secondary {
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.p1 {
  color: var(--color-p1-text);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
}

.cta-container {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 3rem 3rem 3rem 3rem;
  background-color: var(--primary-color);
  border-radius: 0 0 0 1rem;
}
@media only screen and (max-width: 900px) {
  .cta-container {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .cta-container {
    grid-row: 2/3;
    grid-column: 1/2;
    border-radius: 0 0 0 0;
  }
}
.heading_tertiary {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cost-plan {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.cost-amount {
  font-size: 3rem;
  margin-right: 1rem;
  font-weight: 600;
}
.time {
  opacity: 50%;
}
.sign-up-button {
  margin-top: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  background-color: var(--secondary-color);
  font-size: 1.3rem;
  box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.1);
}

.sign-up-button:hover {
  background-color: var(--secondary-color-light);
}
.btn-link {
  color: inherit;
  text-decoration: none;
}
.about-container {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 3rem 3rem 3rem 3rem;
  background-color: var(--primary-color-light);
  border-radius: 0 0 1rem 0;
}
@media only screen and (max-width: 900px) {
  .about-container {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .about-container {
    grid-row: 3/4;
    grid-column: 1/2;
    border-radius: 0 0 1rem 1rem;
  }
}
.text {
  font-size: 1.3rem;
  opacity: 70%;
}

.why-us-list {
  font-size: 1.2rem;
  list-style: none;
  line-height: 1.7rem;
}

.list-link {
  text-decoration: none;
  color: white;
  opacity: 50%;
}
.list-link:hover {
  opacity: 70%;
  text-decoration: underline;
}
